body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #999999;
    text-align: left;
   font-family: 'Roboto', sans-serif;
}
.eq_main_container {
    width: 100%;
    height: 100%;
}
.eq_logo_container > span {
    color: #000000;
}
.eq_main_header {
    width: 90%;
    height: inherit;
    margin: 0 auto;
}
.eq_main_header {
    cursor: auto;
}
.eq_main_header_flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}
.eq_header_col {
    cursor: auto;
    overflow: hidden;
}
a {
    text-decoration: none;
    font-size: 1em;
    font-weight: 600;
    color: #000000;
}
.eq_logo_container {
    display: flex;
    gap: 15px;
    padding: 10px;
}
.eq_heaer_contactus {
    display: flex;
    gap: 15px;
    padding: 15px 10px;
}
.eq_contact_icon {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0.5rem 0 0 0;
}
.eq_contact_details {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}


.eq_phone > span {
    font-size: 1em;
    font-weight: 600;
    color: #000000;
    cursor: auto;
}
.eq_phone > p {
    font-size: .9em;
    font-style: normal;
    font-weight: 600;
    cursor: auto;
}
.eq_whatsapp {
    text-align: center;
}
.eq_whatsapp > span {
    font-size: 1em;
    font-weight: 600;
    color: #000000;
    cursor: auto;
}
.eq_whatsapp > p {
    font-size: .9em;
    font-style: normal;
    font-weight: 600;
    cursor: auto;
}
.eq_main_nav {
    width: 100%;
    height: 50px;
    background: #042e4f;
    margin: 0;
    padding: 0;
}
.eq_our_location {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.eq_nav_container {
    width: 75%;
    margin: 0 auto;
    cursor: auto;
    height: inherit;
}

.eq_nav_navbar_ul > ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
.eq_nav_link:hover a {
    color: #000000;
}
.eq_request_quote_link {
    color: #042e4f!important;
}
.eq_nav_link.eq_quote_get {
    color: #042e4f;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: white;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    border-radius: 0px;
}
.eq_nav_navbar_ul ul li:hover  {
    background: #ffa931;
    color: #000000;
}
.eq_ourloc {
    font-size: 1em;
    font-weight: 600;
    font-style: normal;
    cursor: auto;
    color: #000000;
}

.eq_nav_link.eq_link_active a {
    color: #000000;
}
.eq_nav_link.eq_link_active {
    background: #ffa931;
    color: #000000;
}
.eq_nav_navbar_ul ul li {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    cursor: pointer;
}
.eq_nav_navbar_ul ul li > a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1em;
    font-weight: 600;
    cursor: pointer;
    font-style: normal;
}
.eq_location_address {
    font-size: .9em;
    font-weight: 400;
    cursor: auto;
    color: #6c6c6c;
}
.eq_our_location > p {
    margin: 0;
    padding: 0;
    line-height: 1;
}
.eq_contact_icon > i {
    color: #000000;
    font-size: 20px;
}
.eq_home_section {
    width: 100%;
    height: 700px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.eq_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .15;
    background: #000000;
}
.eq_home_container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.eq_home_col {
    width: 75%;
    margin: 0 auto;
}
.eq_home_main {
    margin: 3rem 0 0 0;
    position: relative;
}
.eq_home_main > h1 {
    font-size: 60px;
    color: #fff;
    line-height: 1;
    font-weight: 900;
    margin-bottom: 1.5rem !important;
    text-transform: uppercase;
    text-align: center;
    
}
.eq_home_content {
    font-weight: 400;
    margin-bottom: 1.5rem !important;
    color: #fff;
    text-align: center;
}
.eq_contact {
    background: #ffa931;
    border: 1px solid #ffa931 !important;
    color: #000000 !important;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .6rem 1rem;

}
.eq_request_quote {
    background: #fff;
    border: 1px solid #fff;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .6rem 1rem;

}
.eq_home_btns {
    text-align: center;
}
.eq_why_choose {
    background: #ffa931;
    padding: 7em 0;
    position: relative;
    padding: 0;
}
.eq_why_choose_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.eq_why_choose_services {
    padding: 3rem 0;
}
.eq_wc_heading {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center;
    padding-bottom: 3rem;
}
.eq_wc_hbody > h2 {
    color: rgba(0, 0, 0, 0.9);
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 1rem;
}
.eq_service_card_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.eq_service_card_main {
    align-self: stretch;
    display: flex;
}
.eq_sv_cart_body {
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.eq_sc_icon {
    line-height: 1.3;
    position: relative;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    z-index: 1;
    margin-bottom: 20px;
    background: #042e4f;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eq_sc_icon > span {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eq_sc_icon span > img {
    /* width: 100%; */
    filter: invert(1);
    width: 50px;
    height: 50px;
}
.eq_scard_body {
    padding-left: 1.5rem;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.eq_scard_body > h3 {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
}
.eq_scard_body > p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
}
.wt_request_quote {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.eq_request_quote_flex {
    width: 100%;
    background: #042e4f;
    position: relative;
    padding: 1.5rem !important;
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}
.eq_quote_overlay {
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    content: '';
    opacity: .12;
    background: rgba(255, 255, 255, 0);
    background: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(47%, rgba(246, 246, 246, 0.47)), color-stop(100%, white));
    background: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
    background: -o-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
    background: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(246, 246, 246, 0.47) 47%, white 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}
.eq_request_quote_form {
    width: 100%;
}
.eq_request_quote_form > p {
    font-size: 16px;
    margin-bottom: 30px;
    color: #ffa931;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
}
.eq_ifields {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
.eq_form_input_field > input {
    border: none !important;
    height: 54px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: white !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 100%;
}
.eq_select_service {
    position: relative;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
}
#eq_select_srv {
    border: none !important;
    height: 54px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: white !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    width: 100%;
}
.eq_select_icon {
    position: absolute;
    top: 50% !important;
    right: 15px;
    font-size: 16px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    /* transform: translateY(-50%); */
}
.eq_select_wrap {
    position: relative;
}
.eq_form_message > textarea {
    width: 100%;
    border: none !important;
    height: 120px !important;
    padding-left: 15px;
    padding-right: 15px;
    background: white !important;
    color: rgba(0, 0, 0, 0.5) !important;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    margin-bottom: 1rem;
}
.eq_appointment_btn > input {
    width: 100%;
    display: block !important;
    background: #ffa931!important;
    border: 1px solid #ffa931 !important;
    color: #000000 !important;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 600;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 24px 36px -11px rgba(0, 0, 0, 0.09);
}
.eq_wel_img_backgournd {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.pb-5{
    padding-bottom: 3rem !important;
}
.eq_wel_body_desc > span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #ffa931;
    letter-spacing: 2px;
    font-weight: 600;
}
.eq_wel_body_desc > h2 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}
.eq_inner_ws {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    background: rgba(0, 0, 0, 0.05);
    background: #042e4f;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.wt_inner_ws_text > strong {
    font-weight: 700;
    font-size: 30px;
    color: #ffa931;
    display: block;
}
.eq_inner_ws > span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.eq_inner_ws:before {
    position: absolute;
    top: 0;
    right: -30px;
    bottom: 0;
    content: '';
    width: 50%;
    background: rgba(255, 255, 255, 0.15);
    z-index: -1;
    -webkit-transform: matrix(1.5, 0, -0.3, 1, 0, 0);
    -ms-transform: matrix(1.5, 0, -0.3, 1, 0, 0);
    transform: matrix(1.5, 0, -0.3, 1, 0, 0);
}
.wt_inner_ws_text > span {
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.eq_intro_section {
    padding: 5em 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    color: rgba(255, 255, 255, 0.8);
    background: #ffa931;
    z-index: 0;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.eq_intro_overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .9;
    background: #042e4f;
    z-index: -2;
}
.eq_intro_body > h2 {
    color: #fff;
    font-size: 40px;
    font-weight: 800;
}
.eq_make_appointment {
    display: inline-block;
    font-weight: 600;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    background: #ffa931;
    border: 1px solid #ffa931 !important;
    color: #000000 !important;
    padding: 1rem 1.5rem;
}
.eq_scard_img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 200px;
}
.eq_scard_txt {
    background: rgba(0, 0, 0, 0.03);
    padding: 20px;
}
.eq_scard_txt > h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
}
.eq_scard_txt > p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.eq_srv_wrap {
    margin-bottom: 40px;
}
.eq_rental_services {
    padding: 7em 0;
    position: relative;
}
.eq_rs_content_desc > span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #ffa931;
    letter-spacing: 2px;
    font-weight: 600;
}
.eq_rs_content_desc > h2 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}
/* carousel testimonial  */
.testimonial-slider {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .testimonials {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    transition: transform 0.3s ease;
  }
  
  .testimonials .eq_tcarousel_item {
    flex: 0 0 100%;
  }
  
  .dots-container {
    text-align: center;
    margin-top: 10px;
  }
  
  .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .dot.active {
    background-color: #333;
  }
  .eq_tcarousel_wrap {
    display: block;
    position: relative;
    color: rgba(0, 0, 0, 0.4);
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    z-index: 0;
}
.eq_tcarousel_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}
.eq_tcarousel_quote {
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 30px;
    height: 30px;
    background: #ffa931;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.eq_tcarousel_quote > i{
    color: #fff;
}
.eq_tcarousel_text {
    width: calc(100% - 100px);
}
.eq_tc_name {
    font-weight: 600;
    margin-bottom: 0;
    color: #000000;
}
.eq_tc_position {
    font-size: 18px;
    color: #ffa931;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
}
.eq_tcarousel_wrap:after {
    position: absolute;
    top: 0;
    left: -60px;
    bottom: 0;
    content: '';
    width: 120px;
    height: 120px;
    background: #ffa931;
    -webkit-transform: skew(-45deg);
    -ms-transform: skew(-45deg);
    transform: skew(-45deg);
    z-index: -1;
}  
/* end carousel  */
.eq_testimonials_block {
    position: relative;
    background: #042e4f;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;
    padding: 5em 0;
    z-index: 0;
}
.eq_overlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    opacity: .95;
    background: #042e4f;
    z-index: -2;
}
.eq_ttop >span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #ffa931;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.9) !important;
}
.eq_ttop >h2 {
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.9) !important;
}
.eq_lb_link_img {
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 250px;
    width: 100%;
    position: relative;
    display: block;
}
.eq_latest_blogs {
    padding: 7em 0;
    position: relative;
    background: #f8f9fa !important;
}
.eq_text_lb>span {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.3);
    color: #ffa931;
    letter-spacing: 2px;
    font-weight: 600;
}
.eq_text_lb>h2{
    line-height: 1.2;
    font-size: 40px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.9);
}
.eq_blog_entry {
    width: 100%;
    margin-bottom: 40px;
}
.eq_lblog_txt_blog {
    position: relative;
    border-top: 0;
    border-radius: 2px;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
}
.eq_lb_meta > p {
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
}
.eq_lb_meta p > a {
    color: #ffa931;
    font-size: 12px;
}
.mr-2 {
    margin-right: 0.5rem !important;
}
.eq_main_lb_heading {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 1.5;
    color: rgba(0, 0, 0, 0.9);
    font-weight: 400;
}
.eq_lb_p1 {
    margin-top: 0;
    margin-bottom: 1rem;
}
.eq_lb_readmore > a {
    background: #042e4f !important;
    border: 1px solid #042e4f !important;
    color: #fff !important;
    font-weight: 600;
}
.eq_footer_end_block {
    background: #111111 !important;
    position: relative;
    z-index: 0;
}
.eq_main_footer {
    font-size: 16px;
    background: #141414;
    padding: 7em 0 0 0;
    z-index: 0;
    position: relative;
    z-index: 0;
    overflow: hidden;
}
.eq_footer_col h2 {
    font-size: 22px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
}
.eq_footer_col h2 > a {
    color: #ffa931;
}
.eq_footer_col > p {
    color: rgba(255, 255, 255, 0.5);
}
.eq_footer_col ul {
    margin: 0;
    padding: 0;
    margin-top: 1.5rem !important;
    padding-left: 0;
    list-style: none;
}
.eq_footer_col ul li a {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.eq_ul_intro_brand li a {
    height: 40px;
    width: 40px;
    display: block;
    background: #ffa931;
    position: relative;
    border-radius: 4px;
}
.eq_ul_intro_brand li {
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
    
}
.eq_ul_intro_brand li a>i {
    position: absolute;
    font-size: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: #fff !important;
    font-size: 14px;
}
.eq_flinks_ul li {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.eq_flinks_ul li a>span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}
.eq_footer_end > ul li {
    margin-bottom: 10px;
    color: rgba(255, 255, 255, 0.5);
}
.mr-3 {
    margin-right: 1rem !important;
}
/* responsive */
@media (min-width: 576px){
    
    .eq_why_choose_container{
        margin: 0 auto;
    }
    .eq_home_container, .eq_why_choose_container {
        max-width: 540px;
    }
}
@media (min-width: 768px){
    .pl-md-5 {
        padding-left: 3rem !important;
    }
    .wt_request_quote {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }
    .eq_service_card_main {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .eq_wc_hbody {
        webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        text-align: center;
    }
    .eq_why_choose_services {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }
    .eq_why_choose_container{
        margin: 0 auto;
    }
    .eq_home_container, .eq_why_choose_container {
        max-width: 720px;
    }
}
@media (min-width: 992px){
    .eq_request_quote_flex:before {
        position: absolute;
        top: 0;
        left: -30px;
        content: '';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 0 30px 30px;
        border-color: transparent transparent #042e4f transparent;
    }
    .eq_request_quote_flex {
        padding: 3rem !important;
        margin-top: -30px;
    }
    .eq_service_card_main {
        webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    .eq_wc_main {
        padding: 3rem 0;
    }
    .eq_why_choose_container{
        margin: 0 auto;
    }
    .eq_home_container, .eq_why_choose_container {
        max-width:960px;
    }
}
@media (min-width: 1200px){
    .eq_why_choose_container{
        margin: 0 auto;
    }
    .eq_home_container, .eq_why_choose_container {
        max-width:1140px;
    }
    
}

